%form{:action => add_emp_path}
  %h3
    EmpId1
  %input{:type =>'text', :name =>'emp1'}
  %h3
    EmpId2
  %input{:type =>'text', :name =>'emp2'}
  %br
  %br
  %input{:type =>'submit', :name =>'add', :value => "Cancel"}

