.context_header
%h1 Welcome to TWU 23 PAIRING MATRIX

%h2
  Pairing Matrix for DN! Mobile Project Group

  %div
    %header

      %nav.top
        %ul
          %li
            = link_to "HOME", root_path

          %li
            = link_to "DN", dn_path




