%form{:action => change_path}
  %h3
    EmpId1
  %input{:type =>'number', :name =>'emp1'}
  %h3
    EmpId2
  %input{:type =>'number', :name =>'emp2'}
  %br
  %br
  %input{:type =>'submit', :name =>'inc', :value => "Increase"}

  %input{:type =>'submit', :name =>'dec', :value => "Decrease"}