-@active_nav= 'dn'

%h1
  Welcome to mDN! Project Team Page
  %nbsp
  %nbsp
  %nbsp
  %p
  %h3
    Emp Id
  %form{:id =>'abc'}
    %input{:type => "text", :name => "Emp Id", :id => "Emp_Id"}
    %input{:type =>'submit', :name =>'submit_button', :value =>'Find EmpId'}

  -@nos.each do |c|
    = link_to c.EmpName {:action => 'show',:id => c.id}