-@active_nav= 'dn'

%h1
  Welcome to mDN! Project Team Page
  %br
  %br
  %br
  %p



  %h3
    Emp Id 1
  %form{:id =>'no_of_pair', :action => dn1_path}

    %input{:type =>'submit', :name =>'submit_button', :value =>'Find EmpId'}



