
- i = 0
%table
  %th
    Pairing Matrix
  %tr
    -@emp.each do |c|
      %tr
        %td
          = c.EmpName
    %tr
      -@emp.each do |c|
      %td
        = c.EmpName
      -for j in (0..4)
        %td
          =@arr[i]
          -i=i+1
